
    <p style="color:white; font-size:30px;margin-bottom: 50px;text-align: center;">Webpack 5</p>
    <div class="webpack" style="margin-left:60px">
        <div class="webpack-logo" >
            <div class="cube_wrapper" >
                <div class="cube cube1" >
                    <div class="face face_top"></div>
                    <div class="face face_bottom"></div>
                    <div class="face face_side_1"></div>
                    <div class="face face_side_2"></div>
                    <div class="face face_side_3"></div>
                    <div class="face face_side_4"></div>
                </div>
                <div class="cube cube2">
                    <div class="face face_top"></div>
                    <div class="face face_bottom"></div>
                    <div class="face face_side_1"></div>
                    <div class="face face_side_2"></div>
                    <div class="face face_side_3"></div>
                    <div class="face face_side_4"></div>
                </div>
            </div>
        </div>
    </div>
    <p style="color:white; font-size:30px;margin-top: 50px;text-align: center;">ModuleFederationPlugin</p>


